<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus"/>
    <section name="notification" type="NotificationServer.Client.Configuration.NotificationProviderConfigurationSection, NotificationServer.Client" />
  </configSections>
  <notification defaultProvider="AzureStorageQueue">
    <providers>
      <add name="AzureStorageQueue" type="NotificationServer.Client.Configuration.AzureStorageQueueNotificationProvider" connectionStringName="DefaultEndpointsProtocol=http;AccountName=puertobahiatest;AccountKey=uyWhXcKIvu2hfN6LWJ8xrHdCQ3Uo2NFBdlmuZ51XgaFiBa3/3nmdlknYOmG9pSbvoBw04rNRrALFHesewIy7JQ==;"   />
    </providers>
  </notification>
  <rhino.esb>
    <bus
       threadCount="1"
       numberOfRetries="5"
       endpoint="msmq://localhost/Notification.Client"
       name="client" />

    <messages>
      <add
        name="NotificationServer.Contract.Notification"
        endpoint="msmq://localhost/Notification.Backend" />
    </messages>
  </rhino.esb>
</configuration>