<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="FactureColombia.PuertoBahia" connectionString="Data Source=pb-prod-to-pre1.database.windows.net;Initial Catalog=puertobahia-training;User ID=hostpre;Password=abc123$$;Max Pool Size=1024;" providerName="System.Data.SqlClient"  xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <!-- BEGIN: LOGENTRIES -->
    <add key="LOGENTRIES_ACCOUNT_KEY" value="b9ec851f-a5d7-403b-adee-d0c54e01f615" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LOGENTRIES_TOKEN" value="82a2e209-48a8-4a08-827c-c28d97956c65" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LOGENTRIES_LOCATION" value="puertobahia-training\puertobahia-notifications-training" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- END: LOGENTRIES -->
  </appSettings>
</configuration>