<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.web>
    <compilation debug="false" targetFramework="4.5">

      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>

    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" maxReceivedMessageSize="100000000"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="TLOBJOTBinding" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" closeTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport maxBufferPoolSize="2097152000" maxReceivedMessageSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <!-- Este método consulta un activo a partir de su identificador en el sistema (ASSETNUM). -->
      <endpoint address="http://facturaelectronica.getsandbox.com/B2BIntegrationEngine/FacturaElectronica" binding="customBinding" bindingConfiguration="TLOBJOTBinding" contract="DianService.IFacturaElectronica" name="DocumentDian"/>

    </client>
  </system.serviceModel>
</configuration>
