<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Exceptional.Core" version="9.0.34" targetFramework="net461" />
  <package id="Exceptional.Core-Debug" version="9.0.34" targetFramework="net461" />
  <package id="Facture.Core" version="1.0.82" targetFramework="net461" />
  <package id="Facture.Core.Api" version="1.0.57" targetFramework="net461" />
  <package id="Facture.Core.Api-Debug" version="1.0.57" targetFramework="net461" />
  <package id="Facture.Core.Domain" version="1.0.54" targetFramework="net461" />
  <package id="Facture.Core.Domain-Debug" version="1.0.54" targetFramework="net461" />
  <package id="Facture.Core.DotNetNuke-Debug" version="1.0.75" targetFramework="net461" />
  <package id="Facture.Core.NHibernate" version="1.0.73" targetFramework="net461" />
  <package id="Facture.Core.NHibernate-Debug" version="1.0.73" targetFramework="net461" />
  <package id="Facture.Core.NinjectModule-Debug" version="1.0.35" targetFramework="net461" />
  <package id="Facture.Core-Debug" version="1.0.82" targetFramework="net461" />
  <package id="Facture.IdentityAccess.Application-Debug" version="1.0.138" targetFramework="net461" />
  <package id="Facture.IdentityAccess.AuthServices" version="1.0.142" targetFramework="net461" />
  <package id="Facture.IdentityAccess.AuthServices-Debug" version="1.0.142" targetFramework="net461" />
  <package id="Facture.IdentityAccess.Contracts" version="1.0.133" targetFramework="net461" />
  <package id="Facture.IdentityAccess.Contracts-Debug" version="1.0.133" targetFramework="net461" />
  <package id="Facture.IdentityAccess.Domain" version="1.0.111" targetFramework="net461" />
  <package id="Facture.IdentityAccess.Domain-Debug" version="1.0.111" targetFramework="net461" />
  <package id="Facture.IdentityAccess.Infraestructure-Debug" version="1.0.135" targetFramework="net461" />
  <package id="Facture.IdentityAccess.NinjectModule-Debug" version="1.0.43" targetFramework="net461" />
  <package id="Facture.Pdf-Debug" version="1.0.9" targetFramework="net461" />
  <package id="Facture.XRays" version="1.0.34" targetFramework="net461" />
  <package id="Facture.XRays.AzureStorage" version="1.0.34" targetFramework="net461" />
  <package id="Facture.XRays.Log4Net" version="1.0.34" targetFramework="net461" />
  <package id="ObjectFlow.Core" version="9.0.35" targetFramework="net461" />
  <package id="ObjectFlow.Core.Extensibility-Debug" version="9.0.40" targetFramework="net461" />
  <package id="ObjectFlow.Core-Debug" version="9.0.35" targetFramework="net461" />
  <package id="XadesNet-Debug" version="1.0.17" targetFramework="net461" />
</packages>