<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Pablo-->
    <!--<add key="Dian.Service.Url" value="http://facturedian.getsandbox.com/B2BIntegrationEngine/FacturaElectronica" />-->
    <!--Javier-->
    <!--<add key="Dian.Service.Url" value="http://facturaelectronica-pre.getsandbox.com/B2BIntegrationEngine/FacturaElectronica" />-->
    <!--DIAN-->
    <add key="Dian.Service.Url" value="https://facturaelectronica.dian.gov.co/habilitacion/B2BIntegrationEngine/FacturaElectronica/facturaElectronica.wsdl"/>
    <!--Jonathan-->
    <!--<add key="Dian.Service.Url" value="http://facturaelectronica.getsandbox.com/B2BIntegrationEngine/FacturaElectronica" />-->
    <!--on WSDL-->
    <!--<add key="Dian.Service.Url" value="http://192.168.250.17:9080/B2BIntegrationEngine/FacturaElectronica" />-->

    <!--DIAN SANDBOX-->
    <add key="Dian.Service.Username" value="59cf7989-1a6e-49ff-91a3-8448d9ac0680"/>
    <add key="Dian.Service.Password" value="33320784f1a944d4aff3ef6d7a6523dafa2f8c04f56287d29abfbb27d8fd9285"/>
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" enabled="false">
      <proxy usesystemdefault="True" bypassonlocal="False" proxyaddress="http://localhost:8888"/>
    </defaultProxy>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
