<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>
    <section name="notificationService" type="NotificationServer.Config.NotificationServiceConfigSection, NotificationServer.Config" />
  </configSections>
  <connectionStrings>
    <add name="CurrentDatabase" connectionString="Data Source=e4avx0tvfl.database.windows.net;Initial Catalog=notificationserver-pre;User ID=facture-pre;Password=e*Q%EZ3RwD" />
    <add name="Hangfire.Redis" connectionString="plcolabv2-pre.redis.cache.windows.net:6379,abortConnect=false,ssl=false,password=RruEZLlIzb3PHPH/dlAKXNf4r5y/+acfLd6sx2PeMJ8=,defaultDatabase=1" />
  </connectionStrings>
  <appSettings>
    <!-- BEGIN: Hanfire Workers -->
    <!--<add key="Hangfire.WorkerCount" value="5"/>-->
    <add key="Hangfire.Queues" value="Critical|High|Default|Low" />
    <!-- END: Hanfire Workers -->
  </appSettings>
  <notificationService>
    <notificationsRepository type="NotificationServer.Service.SqlServer.SqlServerNotificationsRepository, NotificationServer.Service.SqlServer" connectionStringName="CurrentDatabase"/>
    <settingsRepository type="NotificationServer.Service.SqlServer.SqlServerConfigurationsRepository, NotificationServer.Service.SqlServer" connectionStringName="CurrentDatabase"/>
    <scheduler type="NotificationServer.Service.Hangfire.HangfireNotificationsScheduler, NotificationServer.Service.Hangfire" >
      <storage type="NotificationServer.Service.Hangfire.HangfireJobStorage, NotificationServer.Service.Hangfire" connectionStringName="Hangfire.Redis" />
    </scheduler>
    <templateEngine type="NotificationServer.Templating.Razor.RazorTemplateEngineService, NotificationServer.Templating.Razor" debug="true">
      <templateResolver type="NotificationServer.Service.SqlServer.SqlServerTemplateResolver, NotificationServer.Service.SqlServer" connectionStringName="CurrentDatabase" />
    </templateEngine>
  </notificationService>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
