<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="notification" type="NotificationServer.Client.Configuration.NotificationProviderConfigurationSection, NotificationServer.Client"/>
  </configSections>
  <notification defaultProvider="Rest">
    <providers>
      <add name="Rest" type="NotificationServer.Client.Providers.Rest.RestNotificationProvider, NotificationServer.Client.Providers.Rest" connectionStringName="http://localhost:9482#eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHAiOnsiSGFzVmFsdWUiOnRydWUsIlZhbHVlIjoiVHJpcGxlRCJ9fQ.6F3HR0raZItCS5vJJModPd26xx755xrq77bwjLt1If0"/>

      <add name="Amazon.Mail.SMTP" type="NotificationServer.Client.Providers.Rest.RestNotificationProvider, NotificationServer.Client.Providers.Rest" connectionStringName="http://localhost:9482#eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHAiOnsiSGFzVmFsdWUiOnRydWUsIlZhbHVlIjoiUGxjb2xhYiJ9fQ.Vvy05iIm--Xo_23jGoOGqJV7tOqp531lFwjRDDSQusA"/>

      <add name="Rest.WrongCredentials" type="NotificationServer.Client.Providers.Rest.RestNotificationProvider, NotificationServer.Client.Providers.Rest" connectionStringName="http://localhost:9482#____wrong____credentials___"/>


      <!--<add name="Rest"
           type="NotificationServer.Client.Providers.Rest.RestNotificationProvider, NotificationServer.Client.Providers.Rest"
           connectionStringName="http://fcsql:8018#eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHAiOnsiSGFzVmFsdWUiOnRydWUsIlZhbHVlIjoiVHJpcGxlRCJ9fQ.rfw-rt4L146bVaDnTuYUwO4pyf2B4ScN6jQjk4oc14s" />

      <add name="Rest.WrongCredentials"
           type="NotificationServer.Client.Providers.Rest.RestNotificationProvider, NotificationServer.Client.Providers.Rest"
           connectionStringName="http://fcsql:8018#____wrong____credentials___" />-->
      
    </providers>
  </notification>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
