<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="Facture" value="http://nuget.facturecolombia.net/nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Hangfire" value="https://nuget.hangfire.io/nuget/hangfire-pro" />
  </packageSources>
  <packageSourceCredentials>
    <Hangfire>
      <add key="Username" value="FACTURESAS" />
      <add key="ClearTextPassword" value="bG5VIL52pYIx" />
    </Hangfire>
  </packageSourceCredentials>
</configuration>